@mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background-no-repeat-center-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin card-work {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
