$white: #FFFFFF;
$grey: #BABBC5;
$icon_grey: #C6CBCD;
$grey-text: #6c7279;
$normal_red: #FF4343;
$dark_red: #E71414;
$slider: #5c3249;
$blue-alpha: rgba(37, 43, 73, 0.8);
$card-hover:rgba(255, 67, 67, 0.8);
$card-active:rgba(185, 12, 12, 0.8);