.download__title{
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 4.375rem;
    text-align: center;
}

.download__description{
   margin-bottom: 2.9375rem;
    p{
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        text-transform: uppercase;
    }
}